{% extends 'medical_helper_app/base.html' %}

{% block title %}Notes Form - Medical Helper{% endblock %}

{% block content %}
<h1>Notes Form</h1>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.new_drug_name.label_tag }} {{ form.new_drug_name }}<br>
    {{ form.content.label_tag }} {{ form.content }}<br>
    {{ form.new_theme_name.label_tag }} {{ form.new_theme_name }}<br>
    <button type="submit">Submit</button>
</form>
<a href="{% url 'home' %}">Back to Home</a>
{% endblock content %}
